{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title  %} Iniciar Sesión {% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% block linkrel %}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/circular-std/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    {% endblock %}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="container-fluid" style="max-width:800px">
    <div class="card">
            <div class="card-header text-center"><a class="navbar-brand" href="{% url 'home' %}">La Casona Clinica Veterinaria
            <br> {% block usuario %}<h3>ADMIN</h3>{% endblock %}
            </a><span
                class="splash-description"></span></div>
        <div class="card-body">
            {% block form %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control form-control-lg" id="username" name="username" type="text" placeholder="Usuario"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="password" name="password" type="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Recuerdame</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesion</button>
            </form>
            {% endblock %}
        </div>
        <div class="card-footer bg-white p-0  ">
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
{% block extrajs %}
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
{% endblock %}
</body>

</html>