{% extends 'base.html' %}
{% block title %}
    Agendar Cita
{% endblock %}
{% block content %}
    <form method="post" id="CitaGeneralForm" data-hours-url="{% url 'ajax_load_hours' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                         Agendar Cita General
                    </div>
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-space btn-primary">Guardar</button>
        <a href="{% url 'agendar' %}" class="btn btn-space btn-secondary">Cancelar</a>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_date").change(function () {
            var url = $("#CitaGeneralForm").attr("data-hours-url");
            var dateId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'date': dateId
                },
                success: function (data) {
                    $("#id_time").html(data);
                }
            });

        });
    </script>
{% endblock %}