{% extends 'base.html' %}
{% block title %}
    Listado Propietarios
{% endblock %}
{% block content %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Listado Veterinarios</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first" style="text-align:center;">
                        {% if object_list %}
                            <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cédula</th>
                                <th>Sexo</th>
                                <th>Celular</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for veterinario in object_list %}
                                <tr>
                                    <td>{{ veterinario.cc }}</td>
                                    <td>{{ veterinario.nombres }}</td>
                                    <td>{{ veterinario.apellidos }}</td>
                                    <td>{{ veterinario.cc }}</td>
                                    <td>{{ veterinario.sexo }}</td>
                                    <td>{{ veterinario.celular}}</td>
                                    <td>{{ veterinario.fecha_nacimiento }}</td>
                                    <td style="text-align: center">
                                        <a href="{% url 'veterinario_detalles' veterinario.pk %}"
                                           class="btn btn-sm btn-outline-primary">Info</a>
                                        <a href="{% url 'veterinario_actualizar' veterinario.pk %}"
                                           class="btn btn-sm btn-outline-warning">Editar</a>
                                        <a href="{% url 'veterinario_eliminar' veterinario.pk %}" class="btn btn-sm btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </a></td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <h4>No hay registros de Veterinarios</h4>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}